{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    <h1>Dashboard - Owner</h1>

    <p>
        <a href="{{ path('app_logout')}}">Wyloguj się</a>
    </p>

{% endblock %}
