{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h2>Homepage - frontend Owner!</h2>

    <p>Formularz logowania: <a href="{{ path('app_login') }}">pokaż</a></p>
    <p>Formularz rejestracji: <a href="{{ path('app_register') }}">pokaż</a></p>
{% endblock %}
